[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/hugo-theme-moments"]
	path = themes/hugo-theme-moments
	url = https://github.com/FarseaSH/hugo-theme-moments
[submodule "themes/hugo-creative-portfolio-theme"]
	path = themes/hugo-creative-portfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme
[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
